@import url("../css/Normalize.css");
.hero_main{
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 135, 176);
}
.hero_container-text{
  display: flex;
  flex-direction: column;
  padding: 3.2rem 1.6rem;
  text-align: center;
  line-height: 1.5;
  letter-spacing: -.01em;
}
.container-text-title{
  color: var(--main_color);
  font-size: 2.3rem;
}
.container-text-paragraph{
  color: var(--main_color);
  margin: 2.5rem 0;
  font-size: 1.750rem;
  line-height: 1.75;
}